body {
  text-align: center;
  margin: 0;
  color: #333333;
  font-family: "Lora", serif;
}

main {
  width: 700px;
  margin-inline: auto;
}

#logo {
  display: block;
  margin-inline: auto;
  width: 190px;
  margin-top: 1rem;
}

nav {
  background-color: #fefbf1;
  color: #004d4d;
  padding: 1rem 0;
  font-size: smaller;
  margin-bottom: 4rem;
  margin-top: 1rem;
  border-top: 1px solid #ffd977;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

p {
  font-weight: 600;
  margin-top: 2rem;
}

.focaccia {
  display: block;
  width: 100%;
  margin-inline: auto;
  border-radius: 12px;

  box-shadow: 5px 5px 26px 1px rgba(0, 0, 0, 0.7);
}

#fonte {
  display: block;
  color: #999999;
  text-align: center;
  margin-top: 1.5rem;
}

.feature {
  margin-top: 2rem;
}

.link {
  color: #177;
  text-align: left;
  margin-left: 1rem;
}

#feat {
  text-align: left;
  border-left: 1px solid #ffd977;
  padding-left: 1rem;
  color: #b5460f;
}

h2 {
  font-weight: 600;
  margin-top: 3rem;
  text-align: left;
}

.border {
  border-bottom: 2px solid #c5f3f3;
}

li {
  text-align: left;
  font-weight: 600;
  line-height: 2;
}

h3 {
  text-align: left;
  font-weight: bolder;
}

.dough {
  text-align: left;
  margin-left: 3rem;
}

h4 {
  text-align: left;
}

.read {
  text-align: left;
}

ol {
  margin-left: 1rem;
}
